*,
::before,
::after {
  background-color: rgb(221, 168, 168);
}

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Rubik+Dirt&family=Silkscreen&display=swap');
$game-font: 'Silkscreen', cursive;
$classique-font: 'DynaPuff', cursive;
$title-font: 'Rubik Dirt', cursive;


$gradian: linear-gradient(to right, #cb197b, #3a4688);

/* navigation */

header {
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  font-size: 20px;
   margin-bottom: 40px;
  font-family: $classique-font;
  


  .header__left {
    display: flex;
    align-items: center;
    cursor: pointer;

  }

  .header__img {
    width: 40px;
    height: 40px;
    align-items: center;
    margin: 30px 10px;
    background-color: black;
    cursor: pointer;
  }

  

  .header__item {
    display: inline-block;
    justify-content: space-between;
    font-weight: 900;
    cursor: pointer;
    padding: 20px;
    background-color: #000000;
    text-decoration:line-through;
    margin-right: 30px;

  }

  .header__item:hover {
    transform: rotateY(360deg);
    transition: 5s;
    background: $gradian;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
  }

  input {
    box-shadow: 0 0 20px rgb(219, 8, 167);
    color: white;
    padding: 7px;
    border-radius: 50px;

    
  }
}


// main
.main__home {
  display: flex;
  width: 80%;
  margin: auto;
}

.main-left {
  width: 100%;



  span {
    background: $gradian;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // -moz-background-clip: text;
    // -moz-text-fill-color: transparent;
  }

  .main-left-item {
    color: aliceblue;
    list-style: none;
    font-size: 60px;
    padding-top: 15px;
    font-family: $game-font;
  }


  // button

  button {
    color: aliceblue;
    align-items: center;
    margin-top: 20px;
    margin-left: 44px;
    font-family: $game-font;

  }

  .btn-explore {
    background: $gradian;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
   
  }

  .btn-explore:hover {
    background: #610d83;
    transition: 2s;
  }

  .btn-create {
   background: $gradian;
    padding: 10px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    
  }
  .btn-create:hover {
    background: $gradian;
    transition: 1s;
  }




  // stats


  .main__items-stats{
    margin-left:21px;
    margin-top: 10px;
    height: auto;
    font-family: $game-font;
  }

  .main__item-stats{
    color: white;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding: 0px 20px 0px 20px;
    margin-top: 30px;
    text-align: center;
    

  }
 

  .main__item-stat{
    color: white;

    display: inline-block;
    margin: 30px 30px 30px ;
    text-align: center;
    

  }
  


}

// main right
.main-right {
  display: flex;
  // border: solid 10px rgb(0, 30, 255);

  .main-rond-right  {
    width: 550px;
    height: 550px;
    background: $gradian;
    border-radius: 1000px;
  }
  .main-rond-right span{
    
    overflow:visible !important ;
  }

  .personnage{
    
    background: transparent;
    margin-left: -100px;
    
  }


  //bloc information right
  .bloc__information{
    color: rgb(255, 255, 255);
    width: 250px;
    height: auto;
    position: absolute;
    margin-top: 300px;
    margin-left: 300px;
    text-align: center;
    border-radius: 20px;    
    padding-bottom: 10px;
    opacity: 0.6;

  }
    .title__information{
    color: #ffffff;
    

  }
  .left__information{
    display: inline-block;
    margin-right: 50px;
    width: auto;

  }
  .right__information{
    display: inline-block;
    background: transparent;

  }


  .button__bid{
    background: $gradian;
    border-radius: 10px;
    width: 80px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 800;

  }
  .button__view{
    border-radius: 10px;
    width: 80px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid white;
    font-weight: 800;

    
  }




}




// footer

footer{
  color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 50px;
  font-family: $classique-font;

}
.footer__main{
  display: flex;
  width: 79%;
  text-align: center;
  justify-content: space-between;
  margin-left: 190px;


}



.footer__bloc-title{
  display: inline-block;
  text-align: center;
  cursor: pointer;
  
}
.footer__rond{
  width: 65px;
    height: 65px;
    background: $gradian;
    border-radius: 1000px;
    display: inline-block;
    margin: auto;
    margin: 10px 20px 0px ;
}
.footer__logo1{
  background: transparent;
  width: 36px;
  height: 36px;
  margin-top: 15px;
  cursor: pointer;



}

 
    .footer__logo2{
    background: transparent;
  width: 40px;
  height: 40px;
  margin-top: 12px;
  cursor: pointer;

  }

  .footer__logo3{
    background: transparent;
  width: 36px;
  height: 36px;
  margin-top: 12px;
  cursor: pointer;

  }

  .error{
    color: #9c0e0e;
    text-align: center;
    margin-top: 200px;
    font-size: 150px;
    font-weight: bold;
  }