@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff&family=Silkscreen&display=swap");
*,
::before,
::after {
  background-color: black;
}

/* navigation */
header {
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-evenly;
  align-items: center;
  color: aliceblue;
  font-size: 20px;
  margin-bottom: 40px;
  font-family: "DynaPuff", cursive;
}
header .header__left {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .header__img {
  width: 40px;
  height: 40px;
  align-items: center;
  margin: 30px 10px;
  background-color: black;
  cursor: pointer;
}
header .header__item {
  display: inline-block;
  justify-content: space-between;
  font-weight: 900;
  cursor: pointer;
  padding: 20px;
  background-color: #000000;
  text-decoration: line-through;
  margin-right: 30px;
}
header .header__item:hover {
  transform: rotateY(360deg);
  transition: 5s;
  background: linear-gradient(to right, #cb197b, #3a4688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header input {
  box-shadow: 0 0 20px rgb(219, 8, 167);
  color: white;
  padding: 7px;
  border-radius: 50px;
}

main {
  display: flex;
  width: 80%;
  margin: auto;
}

.main-left {
  width: 100%;
}
.main-left span {
  background: linear-gradient(to right, #cb197b, #3a4688);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-left .main-left-item {
  color: aliceblue;
  list-style: none;
  font-size: 60px;
  padding-top: 15px;
  font-family: "Silkscreen", cursive;
}
.main-left button {
  color: aliceblue;
  align-items: center;
  margin-top: 20px;
  margin-left: 44px;
  font-family: "Silkscreen", cursive;
}
.main-left .btn-explore {
  background: linear-gradient(to right, #cb197b, #3a4688);
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}
.main-left .btn-explore:hover {
  background: #610d83;
  transition: 2s;
}
.main-left .btn-create {
  background: linear-gradient(to right, #cb197b, #3a4688);
  padding: 10px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
}
.main-left .btn-create:hover {
  background: linear-gradient(to right, #cb197b, #3a4688);
  transition: 1s;
}
.main-left .main__items-stats {
  margin-left: 21px;
  margin-top: 10px;
  height: auto;
  font-family: "Silkscreen", cursive;
}
.main-left .main__item-stats {
  position: relative;
  color: white;
  display: inline-block;
  border: 1px solid rgb(255, 255, 255);
  border-left: none;
  border-top: none;
  border-bottom: none;
  padding: 0px 20px 0px 20px;
  margin-top: 30px;
  text-align: center;
}
.main-left .main__item-stat {
  color: white;
  display: inline-block;
  margin: 30px 30px 30px;
  text-align: center;
}

.main-right {
  display: flex;
}
.main-right .main-rond-right {
  width: 550px;
  height: 550px;
  background: linear-gradient(to right, #cb197b, #3a4688);
  border-radius: 1000px;
  margin-right: 80px;
}
.main-right .personnage {
  width: 500px;
  height: 500px;
  margin-top: 50px;
  margin-left: -105px;
  background: transparent;
}
.main-right .bloc__information {
  color: white;
  width: 250px;
  height: auto;
  position: fixed;
  margin-top: 300px;
  margin-left: 350px;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 10px;
  opacity: 0.6;
}
.main-right .title__information {
  color: #ffffff;
}
.main-right .left__information {
  display: inline-block;
  margin-right: 50px;
  width: auto;
}
.main-right .right__information {
  display: inline-block;
  background: transparent;
}
.main-right .button__bid {
  background: linear-gradient(to right, #cb197b, #3a4688);
  border-radius: 10px;
  width: 80px;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 800;
}
.main-right .button__view {
  border-radius: 10px;
  width: 80px;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid white;
  font-weight: 800;
}

footer {
  color: rgb(255, 255, 255);
  display: flex;
  width: 100%;
  margin-top: 50px;
  font-family: "DynaPuff", cursive;
}

.footer__main {
  display: flex;
  width: 79%;
  text-align: center;
  justify-content: space-between;
  margin-left: 190px;
}

.footer__bloc {
  display: inline-block;
  display: flex;
  align-items: center;
}

.footer__bloc-title {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.footer__rond {
  width: 65px;
  height: 65px;
  background: linear-gradient(to right, #cb197b, #3a4688);
  border-radius: 1000px;
  display: inline-block;
  margin: auto;
  margin: 10px 20px 0px;
}

.footer__logo1 {
  background: transparent;
  width: 36px;
  height: 36px;
  margin-top: 15px;
  cursor: pointer;
}

.footer__logo2 {
  background: transparent;
  width: 40px;
  height: 40px;
  margin-top: 12px;
  cursor: pointer;
}

.footer__logo3 {
  background: transparent;
  width: 36px;
  height: 36px;
  margin-top: 12px;
  cursor: pointer;
}

.error {
  color: #9c0e0e;
  text-align: center;
  margin-top: 200px;
  font-size: 150px;
  font-weight: bold;
}/*# sourceMappingURL=globals.css.map */